.youtube-wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  padding-top: 56.25%; /* 16:9 */
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
