/* ImageSlider.css */

.container {
  position: relative;
}

.sliderDiv {
  position: relative;
  height : 900px;
}

.slick-slide img {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.slick-active img {
  opacity: 1;
  /* 현재 활성화된 슬라이드는 완전히 보이도록 설정 */
}


.text-overlay {
  position: absolute;
  width: 100%;
  Height: 100%;
  top: 20%;
  left: 0%;
  font-weight: bold;
  z-index: 10;  /* 텍스트가 이미지 위에 표시되도록 설정 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-position {
  position: absolute;
  top: 25%;
  left: 5%;
}
.text-main-1 {
  color: white;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.text-main-2 {
  color: white;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.text-main-3 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-box {
  position: absolute;
}

.text-fix {
  position: absolute;
  top: 100%;
  left: 0%;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}



.custom-pagination .swiper-pagination-bullet {
  
  width: 12px;
  height: 12px;
  border: 1px solid white; /* 흰색 테두리 */
  background-color: transparent; /* 내부 투명 */
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
  
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: white; /* 선택된 bullet은 흰색 */
  border-color: white; /* 테두리 유지 */
  opacity: 1;
  top: "25%" !important;
}

.custom-pagination {
  position: absolute !important;
  top: 25% !important;
  left: 5% !important;
  z-index: 10 !important;
  display: flex !important;
  width: 50% !important;
  
}


/* 화면 너비가 767px 이하일 때 텍스트 크기 줄이기 */
@media (max-width: 767px) {
  .custom-pagination {
    top: 40% !important;
  }

  .custom-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .text-overlay {
    font-size: 64px; /* 작은 화면에서는 텍스트 크기를 고정 */
  }

  .text-main-1 {
    font-size: 15px;
  }
  
  .text-main-2 {
    font-size: 30px;
  }
  
  .text-fix {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1749px)  {

  .custom-pagination {
    top: 42% !important;
  }
  
  .text-main-1 {
    font-size: 30px;
  }
  
  .text-main-2 {
    font-size: 70px;
  }
  
  .text-fix {
    font-size: 30px;
  }
}

/* 화면 너비가 1200px 이상일 때 텍스트 크기 크게 설정 */
@media (min-width: 1750px) {

  .custom-pagination {
    top: 25% !important;
  }

  .text-position {
    top: 10%;
  }

  .text-main-1 {
    font-size: 50px;
  }
  
  .text-main-2 {
    font-size: 142px;
  }
  
  .text-fix {
    font-size: 50px;
  }

}
