
.container {
  /*background-image: url(/public/images/outview3.png); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/public/images/section6.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 5%;
}

.parent {
  display: flex;                /* Flexbox로 배치 */
  flex-wrap: wrap;               /* 자식 div가 공간을 초과하면 자동으로 줄 바꿈 */
  gap: 0px;                     /* 자식 div들 간의 간격 */
  padding : 2%
}

/* 자식 div */
.top {
  text-align: center;           /* 텍스트 중앙 정렬 */
  width : 100vw;
}


/* 자식 div */
.child {
  flex: 26%;                /* 크기 설정: 최소 40%에서 시작해 최대 크기까지 확장 가능 */
  margin : 0.5%;
  text-align: center;           /* 텍스트 중앙 정렬 */
  box-sizing: border-box;       /* padding, border가 전체 크기에 포함되도록 설정 */
  background-color: white;
}

.text-number {
  font-size: 60px;
  color: #0c78B7;
  font-weight: 500;
}

.text-box {
  font-size: 34px;
  color: black;
  font-weight: 800;
}


.text-small {
  letter-spacing: 5px;
  font-size: 10px;
  color: white;
  margin-bottom: 5px;
}

.text-mid {
  font-size: 21px;
  color: gray;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.text-mid-top {
  font-size: 22px;
  color: white;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.text-large {
  margin-top: 0;
  font-size: 45px;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}


@media (max-width: 767px) {

  .parent {
    gap: 20px;                     /* 자식 div들 간의 간격 */
    padding: 5%;
  }

  .child {
    flex: 1 1 100%;             /* 화면이 작으면 자식 div가 100% 크기를 차지하도록 설정 */
  }

  .image {
    width : 100px;
  }

  .text-number {
    font-size: 40px;
    color: #0c78B7;
    font-weight: 500;
  }

  .text-box {
    font-size: 28px;
    color: black;
    font-weight: 400;
  }
  
  .text-mid {
    font-size: 16px;
    padding-bottom : 13%;
    padding-left: 8%;
    padding-right: 8%;
  }

  .text-mid-top {
    font-size: 14px;
  }

  .text-large {
    font-size: 40px;
  }
}

@media (min-width: 768px) {

  .text-large {
    font-size: 80px;
  }

  .text-mid {
    margin-bottom: 80px;
  }

  .child {
    flex: 20%;                /* 크기 설정: 최소 40%에서 시작해 최대 크기까지 확장 가능 */
  }
  
}