.container {
  /*background-image: url(/public/images/outview3.png); */
  background-image: url('/public/images/background-pattern.png'); /* 패턴 이미지 경로 */
  background-repeat: repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 5%;
}

.parent {
  display: flex;                /* Flexbox로 배치 */
  flex-wrap: wrap;               /* 자식 div가 공간을 초과하면 자동으로 줄 바꿈 */
  gap: 10px;                     /* 자식 div들 간의 간격 */
}

/* 자식 div */
.top {
  text-align: center;           /* 텍스트 중앙 정렬 */
}


/* 자식 div */
.child {
  flex: 1 1 40%;                /* 크기 설정: 최소 40%에서 시작해 최대 크기까지 확장 가능 */
  border-radius: 100px;          /* 모서리를 둥글게 */
  padding: 5%;                /* 내부 여백 */
  text-align: center;           /* 텍스트 중앙 정렬 */
  box-sizing: border-box;       /* padding, border가 전체 크기에 포함되도록 설정 */
  background-color: #0c78B7;
  outline: 1px solid white;
  outline-offset: -5px;
}

.text-box {
  font-size: 34px;
  color: #FEFFA4;
  font-weight: 1000;
}


.text-small {
  letter-spacing: 5px;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.text-mid {
  font-size: 22px;
  color: black;
  margin-bottom: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.text-large {
  margin-top: 0;
  font-size: 45px;
  color: #0c78B7;
  font-weight: 1000;
  margin-bottom: 30px;
}


.text-large2 {
  font-size: 30px;
  color: white;
  font-weight: 1000;
}

.rounded-box {
  display: flex; /* 플렉스 박스 적용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

  width: 500px;  /* 원하는 크기로 조절 */
  height: 80px; /* 원하는 높이로 조절 */
  border: 2px solid rgba(255, 255, 255, 0.4); /* 테두리를 약간만 보이게 */
  border-radius: 50px; /* 상하 50px 반원 */
}

.modal {
  position: fixed;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000; /* 이미지 뒤에 깔릴 수 있도록 설정 */
}

.modal-content img {
  border-radius: 10px;
  width: 100%;
  z-index: 1000; /* 이미지 뒤에 깔릴 수 있도록 설정 */
}

/* 투명한 div (오버레이) */
.overlay {
  position: fixed;
  top: -40vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 2000; /* 이미지 뒤에 깔릴 수 있도록 설정 */
}


@media (max-width: 767px) {
  .parent {
    gap: 20px;                     /* 자식 div들 간의 간격 */
  }

  .child {
    flex: 2 1 100%;             /* 화면이 작으면 자식 div가 100% 크기를 차지하도록 설정 */
    
    border-radius: 60px;          /* 모서리를 둥글게 */
  }
  

  .image-plus {
    width : 30px;
  }

  .rounded-box {
    width: 300px;  /* 원하는 크기로 조절 */
    height: 60px; /* 원하는 높이로 조절 */
  }

  .text-small {
    font-size: 10px;
  }

  .text-mid {
    font-size: 16px;
  }

  .text-large {
    font-size: 40px;
  }

  .text-large2 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {

  .text-large {
    font-size: 80px;
  }

  .text-mid {
    margin-bottom: 80px;
  }
  
}